body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li.logo {
  animation: appear 1000ms ease;
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0%;
    transform: translateX(-30px);
  }
}

.show-animation {
  animation: rocket 1.5s ease;
}

@keyframes rocket {
  from {
    opacity: 0%;
    transform: translateY(300px);
  }
}

.turbines-rocket {
  animation: turbines 0.2s cubic-bezier(0.6, -0.6, 0.32, 1.6) alternate infinite;
}

@keyframes turbines {
  from {
    transform: skew(0deg, -1deg);
  }
}

.point-one {
  animation: move-point 4.5s reverse infinite;
}

@keyframes move-point {
  from {
    transform: translateY(2000px);
  }
  to {
    transform: translateY(-200px);
  }
}
.point-two {
  animation: move-point-two 3.5s reverse infinite;
}

@keyframes move-point-two {
  from {
    transform: translateY(3000px);
  }
  to {
    transform: translateY(-300px);
  }
}
.point-third {
  animation: move-point-third 5.5s reverse infinite;
}

@keyframes move-point-third {
  from {
    transform: translateY(3000px);
  }
  to {
    transform: translateY(-300px);
  }
}
